.th {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    margin:0;
  }

}

.available {
  color: #7f7f7f;
}

.not-available {
  color: red;
}

.image-small {
  width: 4rem;
  transition: 0.5s;
  display: block;
  margin-left: 1rem;
  border-radius: .5rem;
  &:hover {
    width: 8.5rem;
  }
}.image-big {
  // width: 4rem;
  // transition: 0.5s;
  // display: block;
  // margin-left: 1rem;
  // border-radius: .5rem;
}
