.th {
  display: flex;
  &-paragraph {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0 0 2rem;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
  }
}
.available {
  color: #7f7f7f;
}
.not-available {
  color: red;
}
.image-small {
  width: 4rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}
.image-big {
  border-radius: 0.5rem;
}
