.th {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-paragraph {
    margin: 0;
  }
}
.available {
  color: #7f7f7f;
}
.not-available {
  color: red;
}
.image-small {
  width: 4rem;
  transition: 0.5s;
  display: block;
  margin-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.image-big {
  border-radius: 0.5rem;
}
